/*Colors*/
/*Basic setting*/
html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a:hover {
  text-decoration: none;
}
.button {
  background-color: #f6ae00;
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 8px;
  border: none;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #ffbc1b;
}
/*Typography*/
.form {
  /*button*/
}
.form-input {
  display: block;
  margin: 2rem 0;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 1.5rem;
}
.form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  padding: 0.5rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
}
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  font-size: 3.6rem;
  text-align: center;
}
.section-header-light {
  color: #ffffff;
  margin-top: 0;
}
.section-header p {
  font-size: 1.4rem;
}
/*main*/
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/1.png) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
  /*Главный заголовок*/
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.45;
}
.main-content span {
  display: inline-block;
  padding: 4rem 6rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #4ac116;
  text-align: center;
}
.main-content span strong {
  font-size: 3rem;
}
.main-form {
  margin-top: 10px;
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /*Подпись к кнопке*/
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.main-form-header strong {
  font-size: 1.4rem;
}
.main-form small {
  display: block;
  margin-top: 1.2rem;
}
.main-trigger {
  display: block;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 4rem;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}
.header {
  height: 70px;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
.phone-link {
  display: inline-block;
  color: #454545;
  font-weight: 700;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-weight: 900;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.6rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: scaleY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
  opacity: 0.6;
}
.prev {
  background: url(../img/button2.png) center no-repeat;
  left: 0;
  background-size: 70%;
}
.next {
  background: url(../img/button.png) center no-repeat;
  right: 0;
  background-size: 70%;
}
picture img {
  width: 80px;
  height: 80px;
}
.price {
  background: url(../img/1111.png) repeat center;
}
.price-header-btn {
  margin-top: 2rem;
}
.price-block {
  min-height: 65rem;
  padding: 1rem 3rem 4rem;
  background-color: #ffffff;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
}
.price-block img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 3rem;
  height: 220px;
  width: 300px;
}
.price-tag {
  font-size: 1.9rem;
  font-weight: 900;
  display: block;
  margin-bottom: 2rem;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1rem;
  background: url(../img/checked.png) no-repeat center;
  vertical-align: middle;
  background-size: 100%;
}
/*Секция с отзывами*/
.feedback {
  position: relative;
  background-size: cover;
  /*form*/
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback p {
  font-size: 1.6rem;
}
.feedback-text {
  width: 40rem;
  margin-top: 4rem;
  position: relative;
  padding: 1rem;
  font-style: italic;
  border: 2px solid #4ac116;
}
.feedback-text:before {
  left: 8rem;
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #4ac116;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-left: 3rem;
}
.feedback-slider .media h4 {
  font-weight: 900;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #4ac116;
}
.feedback-slider-btn img {
  width: 1.5rem;
  height: 1.5rem;
}
.feedback-form {
  padding: 4rem 10rem;
  margin-top: 5rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 4rem;
}
.feedback-form label {
  transform: translate(-50%, 6px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.feedback .hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
.scheme {
  background: #ffffff url(../img/work/7.png) bottom -10rem right -15rem no-repeat;
  background-size: 65rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme h3 {
  font-size: 2rem;
  font-weight: 900;
}
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .media {
  min-height: 15rem;
}
.all-inclusive .media h4 {
  font-weight: 900;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  font-size: 1.3rem;
}
.circle {
  display: inline-block;
  background-color: #4ac116;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #4ac116;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 900;
}
.problems {
  position: relative;
}
.problems-women {
  position: absolute;
  bottom: 0;
  width: 30rem;
  left: 50%;
  margin-left: -19rem;
}
.problems-list {
  border: 4px solid;
  padding: 2rem;
  min-height: 35rem;
  margin-bottom: 2rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-weight: 900;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list ul li {
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 3rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 3rem;
  height: 4rem;
}
.problems-list-bad {
  border-color: #e8e8e8;
}
.problems-list-bad h4 {
  opacity: 0.5;
}
.problems-list-bad ul li:before {
  background: url(../img/cancel.png) center no-repeat;
  background-size: 70%;
}
.problems-list-good {
  border-color: #358015;
}
.problems-list-good h4 {
  opacity: 0.5;
}
.problems-list-good ul li:before {
  background: url(../img/checked2.png) center no-repeat;
  background-size: 70%;
}
.materials h2 {
  font-weight: 900;
}
.materials-slider {
  padding-top: 5rem;
}
.materials img {
  display: block;
  margin: 0 auto;
}
.tour {
  background: #ffffff url(../img/tour.png) center left -27rem no-repeat;
  background-size: cover;
}
.tour-subtitle {
  font-size: 2.2rem;
}
footer {
  padding: 4rem 0;
}
@media (max-width: 1199px) {
  .feedback-text {
    width: 35rem;
  }
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .all-inclusive .media {
    min-height: 11rem;
  }
  .price-block img {
    width: 230px;
    height: 200px;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: scaleY(-50%);
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .feedback-form label {
    transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
  .problems-women {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  footer {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .main-content h1 {
    font-size: 3.5rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .features-block p {
    width: 60%;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
  footer {
    text-align: center;
  }
}
@media (max-width: 532px) {
  .feedback-text {
    width: 30rem;
  }
}
@media (max-width: 482px) {
  .feedback-text {
    width: 25rem;
  }
}
@media (max-width: 430px) {
  .feedback-text {
    margin: 40px 0 0;
  }
  .feedback-slider .media {
    margin-left: 0;
  }
}
@media (max-width: 470px) {
  .main-content h1 {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .main-content h1 {
    font-size: 2.5rem;
  }
  .feedback-text {
    width: 20rem;
  }
  .feedback-text p {
    font-size: 1.2rem;
  }
}
@media (max-width: 351px) {
  .feedback-text {
    width: 17rem;
  }
  .feedback-text p {
    font-size: 1.1rem;
  }
}
@media (max-width: 322px) {
  .feedback-text {
    width: 12rem;
  }
  .feedback-text p {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .main-content h1 {
    font-size: 2.3rem;
  }
  .feedback p {
    font-size: 1.2rem;
  }
  .media img {
    height: 50px;
    width: 50px;
  }
  .feedback-text {
    width: 200px;
    height: 150px;
  }
  footer {
    text-align: center;
  }
}
